---
import Layout from './Layout.astro';
import TetrisHeader from '../components/TetrisHeader.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<TetrisHeader />
	<article>
		<h1>{frontmatter.title}</h1>
		<p class="date">Published on {new Date(frontmatter.date).toLocaleDateString()}</p>
		<slot />
	</article>
</Layout>

<style>
	article {
		max-width: 800px;
		margin: 0 auto;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		margin-bottom: 0.5rem;
	}
	.date {
		color: #aaa;
		font-style: italic;
		margin-bottom: 2rem;
	}
</style>